<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Açai Furious</title> 
    <%if(typeof page != "undefined"){
        if(page == "lanche"){%>
            <link rel="stylesheet" href="css/pagelanche/style.css">
        <%}else if(page == "index"){%>
            <link rel="stylesheet" href="css/index/style.css">
    <%}}%>
    
</head>