<header>
    <div id="logo">
        <a href="/">AçaíFurious</a>
    </div>
    <nav>
        <ul>
            <li><a href="">Pedidos</a></li>
            <li><a href="">Carrinho</a>
            <%- include("../partials/carrinho.ejs") %>
            </li>
            <li><a href="">Finalizar</a></li>
        </ul>
        <div>
            
        </div>
    </nav>
</header>